#addis{
	background:#800000;
	float:center;
	position:absolute;
	padding-top:-10px;
	width:100% !important;
	height:100px;
}
#addis > a{
	text-decoration:none;
	position:absolute;
	left:400px;
	font-family:verdana serif ;
	font-size:60px;
	font-style:bold;
	color:white;
	
}
img{
	width:100%;
	height:250px;
	position:absolute;
	top:100px;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	left:450px;
	top:100px;
	
}
.jumbotron{
	width:40%;
	background-color:#c0c0c0;
}
li{
	float:left;
}
li a{
	display:inline-block;
	color:#800000;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-family:verdana serif;
	font-size:22px;
}
li a:hover{
	font-size:30px;
	box-shadow:none;
	text-decoration:none;
	color:#008000;
	
}
form{
	position:absolute;
	top:400px;
	left:100px;
	
}
button{
	width:100px;
	height:40px;
}